.product-list {
  background: #fff;
  display: flex;
  gap: 5ch;
  overflow-x: auto;
}

.products-layout-image {
  margin-right: 4rem;
}

.products-layout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.products-layout h1 {
  font-size: 3em;
}

.products-layout-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.2rem;
  padding: 0 2rem;
}

/* .products-layout-info span {
  font-size: 1.2rem;
} */

.product-desc {
  width: 15rem;
}

.product-title {
  font-size: 3rem;
  color: rgb(41, 201, 187);
}

.product-price {
  font-size: 2rem;
}

.card-content {
  display: flex;
  flex-direction: column;
  background: #161629;
  min-width: 450px;
  /* margin: 55px 0; */
  border-radius: 20px;
  color: white;
  object-fit: cover;
}

/* .image {
  width: 100%;
} */

.content-p {
  text-align: center;
}
.content-span {
  margin: 25px;
  text-align: center;
  color: aliceblue;
}

.content-button {
  width: 60%;

  background-color: aqua;
}

.content-font-size {
  font-size: 2rem;
}
